/*-----Fonts------*/

@font-face {
    font-family: montserrat;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf")format('truetype');
}

@font-face {
    font-family: montserrat;
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: roboto;
    font-weight: 300;
    font-style: italic;
    src: local ('Roboto-LightItalic'),
        url('/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}


@font-face {
    font-family: kaushan;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Kaushan_Script/KaushanScript-Regular.ttf") format('truetype');
}


/* ---- * ---- */
*,
*::after,
*::before {
    box-sizing: border-box;
    /*outline: 1px solid #f00 !important;
    opacity: 1 !important;
    visibility: visible !important;*/
}

/* ---- Html ---- */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

/* ---- Body ---- */

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    color: #999;
    margin: 0;
    overflow-x: hidden;
}

/* ---- Wrapper ---- */

.wrapper {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ---- Header  ---- */

/*----Breack points:
 - 997px
 - 768px
 - 640px 
--*/

.header-wrap {
    position: relative;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 1000px;
    background-color: #000000;
    z-index: 1;
    margin-bottom: 100px;
}

@media (max-width: 997px) {
    .header-wrap {
        min-height: 735px;
    }    
}

@media (max-width: 768px) {
    .header-wrap {
        min-height: 100vmax;
        margin-bottom: 60px;
    }    
}

.header-wrap::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(#e88283, #f1d88a);
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    margin-bottom: 120px;
    padding: 0 15px;
}

@media (max-width: 997px) {
    .header-top {
        margin-bottom: 50px;
    }    
}

@media (max-width: 768px) {
    .header-top {
        margin-bottom: 25px;
        min-height: 65px;
    }    
}



.logo {
    font-size: 30px;
    font-family: montserrat;
    font-weight: 700;
    color: #fff;
    user-select: none;
}

@media (max-width: 640px) {
    .logo {
        font-size: 26px;  
    }
}

.nav-top {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin-left: 42px;
    line-height: 1;
    overflow: hidden;
}

@media (max-width: 997px) {
    .nav-item {
        margin-left: 32px;
    }
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item::after {
    position: relative;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin: 3px auto 0 auto;
    border-top: 3px solid #fce38a;
    opacity: 0;
    transition: opacity 0.6s;
}

.nav-link {
    text-decoration: none;
    font-family: "montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.nav-item:hover .nav-link {
    color: #fce38a;
}

.nav-item:hover:not(:last-child, :nth-last-child(2))::after {
    opacity: 1;
    transition: opacity 0.4s;
}

.nav-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-cart {
    background-image: url(../img/SHOPPING_CART.png);
}

.nav-search {
    background-image: url(../img/MAGNIFYING\ GLASS.png);
}

.nav-cart:hover {
    background-image: url(../img/SHOPPING\ CART_ACT.png);
}

.nav-search:hover {
    background-image: url(../img/MAGNIFYING\ GLASS_ACT.png);
}

.text-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

/*----Burger menu------*/

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
    background-color: #e88283;
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);

}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
    background-color: #e88283;
}

@media (max-width: 768px) {
    .menu-button-container {
        display: block;
    }

    .nav-top {
        position: absolute;
        top: 0;
        margin-top: 0px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        background-color: #fff;
    }
    
    .nav-top .nav-link {
        color: #e88283;
        font-weight: 700;
    }

    .nav-item:hover .nav-link {
        color: #e88283;
    }

    .nav-item::after {
        display: none;
    }

    .nav-cart, .nav-cart:hover {
        background-image: url(../img/SHOPPING\ CART_red.png);
    }

    .nav-search, .nav-search:hover {
        background-image: url(../img/MAGNIFYING\ GLASS_red.png);
    }


    #menu-toggle~.nav-top li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        text-align: center;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.nav-top{
        padding-top: 15px;
        background-color: #fff;
    }

    #menu-toggle:checked~.nav-top li {
        border: none;
        height: 45px;
        padding: 10px;
        transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }


    
}

/*---- Header title -------*/

.header-subtitle {
    font-family: kaushan;
    font-size: 72px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.3;
}

@media (max-width: 997px) {
    .header-subtitle {
        font-size: 65px;  
        line-height: 1.2;
    }
}

@media (max-width: 768px) {
    .header-subtitle {
        font-size: 45px;  
        
    }
}

@media (max-width: 640px) {
    .header-subtitle {
        font-size: 25px;  
        
    }
}

.header-title {
    font-size: 150px;
    font-family: montserrat;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    width: 800px;
    text-align: center;
    line-height: 0.95;
    margin-bottom: 50px;
}

@media (max-width: 997px) {
    .header-title {
        font-size: 100px;  
        line-height: 1.1; 
        width: 700px;
    }
}

@media (max-width: 768px) {
    .header-title {
        font-size: 75px;  
        line-height: 1.1; 
        width: 500px;        
    }
}

@media (max-width: 640px) {
    .header-title {
        font-size: 45px;  
        line-height: 1.1; 
        width: 300px;
        margin-bottom: 100px;
    }
}

.header-title::after {
    content: "";
    width: 65px;
    height: 3px;
    border-top: 3px solid #fff;
    display: block;
    margin: 55px auto 0 auto;
}

@media (max-width: 997px) {
    .header-title::after {
        margin: 35px auto 0 auto;
        width: 55px;
    }
}

@media (max-width: 768px) {
    .header-title::after {
        margin: 20px auto 0 auto;
        width: 45px;
    }
}

@media (max-width: 640px) {
    .header-title::after {
        margin: 15px auto 0 auto;
        width: 38px;
    }
}

.more-link {
    width: 160px;
    height: 40px;
    display: block;
    text-decoration: none;
    font-family: "montserrat";
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #fff;
    padding: 7px 25px;
    transition: 0.5s;
    margin-bottom: 158px;
}

@media (max-width: 997px) {
    .more-link {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .more-link {
        margin-bottom: 80px;
    }
}

@media (max-width: 640px) {
    .more-link {
        margin-bottom: 60px;
        width: 150px;
        height: 35px;
        padding: 4px 20px;
    }
}

.more-link:hover {

    border-color: #e89284;
    color: #e89284;
    transition: 0.4s;
}

.nav-bottom {
    display: flex;
    list-style: none;
    padding: 0 10px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .nav-bottom {
        display: none;
    }
}

.nav-bottom-item {
    display: inline-block;
    width: 100%;
    padding-left: 15px;
}

.nav-bottom-item::before {
    content: "";
    width: 90%;
    height: 3px;
    border-top: 3px solid #f7eac5;
    display: block;
    margin-bottom: 15px;
}

@media (max-width: 997px) {
    .nav-bottom-item::before {
        width: 80%;
    }
}

.nav-bottom-item:hover:after {
    content: "";
    width: 25%;
    height: 3px;
    border-top: 3px solid #f38181;
    display: block;
    position: relative;
    top: -56px;
}

@media (max-width: 997px) {
    .nav-bottom-item:hover:after {
        top: -47px;
    }
}

.nav-bottom-item:hover::before {
    border-top-color: #fff;

}

.nav-bottom-link {
    text-decoration: none;
    font-family: "montserrat";
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.bottom-link-number {
    font-family: "montserrat";
    font-size: 24px;
    font-weight: 700;
}

@media (max-width: 997px) {
    .bottom-link-number {
        font-size: 18px;
    }
}

.bottom-link-title {
    font-family: "montserrat";
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
}

@media (max-width: 997px) {
    .bottom-link-title {
        font-size: 14px;
    }
}

/* ---- About  ---- */

.about {
    margin-bottom: 110px;
}

@media (max-width: 768px) {
    .aboute {
        margin-bottom: 80px;
    }
}

.title-section {
    font-family: kaushan;
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    text-align: center;
    margin: 0;    
}

@media (max-width: 768px) {
    .title-section {
        font-size: 18px;
    }
}

.subtitle-section {
    font-family: montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin: 0px;
}

@media (max-width: 768px) {
    .subtitle-section {
        font-size: 22px;
    }
}

.subtitle-section::after {
    content: "";
    width: 60px;
    border-bottom: 3px solid #f38181;
    display: block;
    margin: 30px auto 45px auto;    
}

@media (max-width: 768px) {
    .subtitle-section::after {
        margin: 5px auto 20px auto;   
        width: 48px;
    }
}

.text-section {
    font-family: roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #a6a6a6;
    text-align: center;
    margin-bottom: 105px;
    max-width: 950px;
}

@media (max-width: 768px) {
    .text-section {
        margin-bottom: 55px;
    }
}

.about-gallery {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px){
    .about-gallery {
        flex-wrap: wrap;       
    }
}

.about-gallery-item {
    width: 31.6%;
}

@media (max-width: 768px) {
    .about-gallery-item {
        width: 100%;               
    }

    .about-gallery-item:not(:last-child) {
        margin-bottom: 20px;
    }
}

.about-gallery-img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .about-gallery-img {
        margin: 0 auto;
    }
}    

.about-bottom {
    width: 100%;
    background-color: #95e1d3;
    margin-bottom: 115px;
}

@media (max-width: 768px) {
    .about-bottom {
        margin-bottom: 60px;
    }    
}

.about-statistics {
    list-style: none;
    display: flex;
    align-items: stretch;
}

@media (max-width: 768px) {
    .about-statistics {
        flex-wrap: wrap;
    }
}

.about-statistics-item {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 20%;
    border-left: 1px solid #b5eae0;
    min-height: 270px;
}

@media (max-width: 997px) {
    .about-statistics-item {
        min-height: 200px;
    }
}

@media (max-width: 768px) {
    .about-statistics-item {
        width: 33.33%;
        flex-grow: 1;
        min-height: 140px;
    }
}

@media (max-width: 640px) {
    .about-statistics-item {
        width: 100%;
        min-height: 90px;
        border-bottom: 1px solid #b5eae0;
    }
}


.about-statistics-item:last-child {
    border-right: 1px solid #b5eae0;
}

.about-statistics-number {
    font-family: montserrat;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
    width: 100%;
}

@media (max-width: 997px) {

    .about-statistics-number {
        font-size: 60px; 
    }
}

@media (max-width: 640px) {

    .about-statistics-number {
        font-size: 45px; 
        line-height: 1;
    }
}

.about-statistics-text {
    font-family: montserrat;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #fff;
    width: 100%;
}

@media (max-width: 997px) {
    .about-statistics-text {
        font-size: 12px; 
    }
}

/* ---- Services  ---- */

.services {
    margin-bottom: 50px;
}

.services .subtitle-section::after {
    margin-bottom: 10px;
}

.cards-services-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: -25px;    
}

.card-services-item {
    position: relative;
    display: flex;
    width: 33.33%;
    padding: 50px 25px;        
}

.card-services-item:nth-child(1), 
.card-services-item:nth-child(2),
.card-services-item:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 997px) {
    .card-services-item:nth-child(1),
    .card-services-item:nth-child(2),
    .card-services-item:nth-child(3),
    .card-services-item:nth-child(4) {
        border-bottom: 1px solid #e5e5e5;
    }
}

@media (max-width: 640px) {
    .card-services-item:not(:last-child) {
        border-bottom: 1px solid #e5e5e5;
    }
}

@media (max-width: 997px) {
    .card-services-item {
        width: calc(50%);       
    }    
}

@media (max-width: 640px) {
    .card-services-item {
        width: calc(100%);  
        padding: 30px 25px;      
    }    
}

.card-services-img {
    width: 32px;
    height: 30px;
}

.card-services-content {
    padding-left: 25px;
}

.card-services-title {
    font-family: montserrat;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #333333;
}

.card-services-text {
    margin: 0;
}

/* ---- Design ---- */

.design {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 844px;
    background-color: #fff;
    z-index: 1;
    background-image: url('/img/Feature_1.jpg');
    padding-top: 100px;
    margin-bottom: 115px;
}

@media (max-width: 768px) {
    .design {
        max-height: 772px;
        padding-top: 60px;
        margin-bottom: 90px;
    }
}

@media (max-width: 640px) {
    .design {
        padding-top: 40px;
    }
}

.design::after {
    content: "";
    position: absolute;
    background-color: #f1f1f1;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

.design-image-tablet {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.design-image-fone {
    position: absolute;
    display: block;
    margin: 0 auto;
    padding-top: 12px;
    bottom: -100px;
    right: calc(50% - 137.5px);
    transform: translateX(260px);      
}

@media (max-width: 768px) {
    .design-image-fone {
        right: calc(50% - 137.5px);
        transform: translateX(200px);
    }
}

@media (max-width: 610px) {
    .design-image-fone {
        width: 43vw;
        bottom: -15vw;
        right: calc(50% - 21vw);
        transform: translateX(30vw); 
    }
}

/* ---- Service ---- */

.service {
    margin-bottom: 120px;
}

@media (max-width: 997px) {
    .service {
        margin-bottom: 65px;
    }
}

.service-content {
    display: flex;
    max-height: 380px;
    width: 100%;
    justify-content: space-between;
    min-height: 0;    
}

@media (max-width: 997px) {
    .service-content {
        flex-wrap: wrap;
        justify-content: center;
        max-height: none;
    }
}

.service-wrapper-img {
    flex: 0 0 570px;    
}

@media (max-width: 997px) {
    .service-wrapper-img {
        max-width: 100%;
    }
}

.service-content-image {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.service-content-list {
    display: block;
    width: calc(50% - 15px);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

@media (max-width: 997px) {
    .service-content-list {
        flex: 0 1 570px;
        margin-left: 0;
        margin-top: 30px;
    }
}

.service-content-item:not(:first-child) {
    margin-top: 10px;
}

.service-content-top {
    display: flex;
    height: 60px;
    padding: 14px 15px;
    border: 1px solid #e5e5e5;
    align-items: center;
}

.service-content-label-container {
    width: 100%;
}

.service-content-radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.service-content-label {
    font-family: montserrat;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #333333;
    cursor: pointer;
    padding-left: 15px;
}

.service-content-label::after {
    content: "";
    float: right;
    display: block;
    width: 12px;
    height: 12px;
    border-left: 3px solid #cccccc;
    border-top: 3px solid #cccccc;
    border-radius: 2px;
    transform: rotate(225deg);
    transform-origin: 0 10px;
}

.service-content-text {
    max-height: 0;
    overflow: hidden;
    margin: 0;
}

.service-content-radio:checked~.service-content-top>.service-content-label-container>.service-content-label::after {
    transform: rotate(45deg);
    transform-origin: -15px -5px;
}

.service-content-radio:checked~.service-content-text {
    max-height: 180px;
    min-height: 180px;
    overflow-y: auto;
    padding: 5px;
    scrollbar-width: 5px;
    scrollbar-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.service-content-radio:checked~.service-content-text::-webkit-scrollbar {
    width: 6px;
}

.service-content-radio:checked~.service-content-text::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 8px;
}

.service-content-radio:checked~.service-content-text::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    /* цвет плашки */
    border-radius: 8px;
    /* закругления плашки */
    /*border: 3px solid orange;*/
    /* размер, цвет плашки */
}

/* ---- Section Comment ---- */

.section-comment {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 290px;
    background-color: #f8f8f8;
    margin-bottom: 95px;
    padding: 50px 0;
}

@media (max-width: 997px) {
    .section-comment {
        padding: 20px 0;
    }
}

@media (max-width: 997px) {
    .section-comment {
        margin-bottom: 65px;
        min-height: 130px;
    }
}

.section-comment-content {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 997px) {
    .section-comment-content {
        padding: 0 30px;
    }
}

@media (max-width: 640px) {
    .section-comment-content {
        padding: 0 20px;
    }
}

.section-comment-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 997px) {
    .section-comment-btn {
        display: none;
    }
}

.comment-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 190px;
}

.comment-item {
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.item-active {
    opacity: 1;
    transition: opacity 0.5s;
}

.section-comment-img {
    display: block;
    outline: 2px solid #95e1d3;
    outline-offset: 40px;
    width: 60px;
    margin-left: 115px;
}

@media (max-width: 997px) {
    .section-comment-img {
        outline-offset: 25px;
        width: 40px;
        margin-left: 50px;
    }
}

@media (max-width: 640px) {
    .section-comment-img {
        outline-offset: 15px;
        margin-left: 20px;
    }
}


.section-comment-text {
    display: flex;
    margin-left: 90px;
    margin-right: 40px;
    flex-direction: column;
    font-size: 24px;
    line-height: 1.5;
    font-style: italic;
    font-weight: 300;
}

@media (max-width: 997px) {
    .section-comment-text {
        font-size: 18px;
        line-height: 1.5;
        margin-left: 60px;
    }
}
@media (max-width: 640px) {
    .section-comment-text {
        font-size: 14px;
        margin: 0 0 0 40px;
    }
}


.section-comment-nickname {
    font-family: "Kaushan Script";
    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

@media (max-width: 640px) {
    .section-comment-nickname {
        font-size: 16px;
        line-height: 1.8;
    }
}

.section-comment-nickname::before {
    content: "";
    display: inline-block;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 3px solid #f38181;
}

@media (max-width: 640px) {
    .section-comment-nickname::before {
        border: 2px solid #f38181;
    }    
}

/* ---- Team ---- */

.team {
    margin-bottom: 110px;
}

@media (max-width: 640px) {
    .team{
        margin-bottom: 20px;  
    } 
}

.team-cards {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

@media (max-width: 640px) {
    .team-cards {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
}

.team-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-card:nth-child(2) {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

@media (max-width: 640px) {
    .team-card:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }
}

.team-card-img {
    max-width: 100%;
}

@media (max-width: 997px) {
    .team-card-img {
        margin-bottom: 10px;
    }
}

.team-card-name {
    font-family: "Montserrat";
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
}

.team-card-profession {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
}

@media (max-width: 640px) {
    .team-card-profession {
        margin-bottom: 70px;
        line-height: 15px;
    }
}

.team-card-social {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    margin: 0;
}

@media (max-width: 997px) {
    .team-card-social {
        position: static; 
        transform: none;        
    }
}

.team-container-img {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

@media (max-width: 997px) {
    .team-container-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 997px) {
    .team-container-img {
        margin-bottom: 5px;
    }
}

.team-container-img:hover {
    transform: translateX(-10px) translateY(-10px);
    -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
    -moz-box-shadow: 10px 10px 0px 0px #95e1d3;
    box-shadow: 10px 10px 0px 0px #95e1d3;
}

@media (max-width: 997px) {
    .team-container-img:hover {
        box-shadow: none;
        transform: none;
    }
}

.team-container-img:hover:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(#e88283, #f1d88a);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

@media (max-width: 997px) {
    .team-container-img:hover:after {
        display: none;
    }
}

.team-card-img {
    display: block;
}

.team-card-social-item {
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 997px) {
    .team-card-social-item {
        background-color: transparent;
    }    
}

.team-card-social-item:nth-child(2) {
    margin-left: 1px;
    margin-right: 1px;
}

.team-card-link {
    line-height: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-card-social-icon {
    fill: #f38181;
}

@media (max-width: 997px) {
    .team-card-social-icon {
        fill: #7fd3c3;
    }
}

.team-container-img:hover .team-card-social {
    z-index: 2;
}

.team-card-social-item:hover {
    background-color: #f38181;
}

@media (max-width: 997px) {
    .team-card-social-item:hover {
        background-color: transparent;
    }    
}

.team-card-social-item:hover .team-card-social-icon {
    fill: #fff;
}

@media (max-width: 997px) {
    .team-card-social-item:hover .team-card-social-icon {
        fill: #7fd3c3;
    }
}

.team-card-name {
    margin-bottom: 10px;
}

/* ---- Team Footer ---- */

.team-footer {    
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    height: 250px;
    margin-bottom: 110px;
}

@media (max-width: 997px) {
    .team-footer {
        height: 150px;
    }
}

@media (max-width: 640px) {
    .team-footer {
        height: 320px;
        padding: 20px;
        margin-bottom: 65px;
    }
}

.team-footer-contant {
    width: 100%;
}

.team-footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

@media (max-width: 640px) {
    .team-footer-list {
        flex-wrap: wrap;
        min-height: 280px;
    }
}

.team-footer-item {
    width: 128px;
}

@media (max-width: 997px) {
    .team-footer-item {
      width: 92px;  
    }    
}

@media (max-width: 768px) {
    .team-footer-item {
      width: 80px;  
    }    
}

@media (max-width: 640px) {
    .team-footer-item {
      width: 31.33%;
    } 
}

.team-footer-img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center;    
}

@media (max-width: 640px) {
    .team-footer-img {
        margin: 0 auto;
    }
}

/* ---- Gallery ---- */

.gallery {
    width: 100%;
    margin-bottom: 110px;
}

@media (max-width: 640px) {
    .gallery {
        margin-bottom: 65px;
    }
}

.gallery-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 40.63vw;
}

@media (max-width: 997px) {
    .gallery-list {
        max-height: 170vw;
        justify-content: flex-start;
        
    }
}

@media (max-width: 640px) {
    .gallery-list {
        max-height: none;
        justify-content: flex-start;
        
    }
}

.gallery-item {
    display: block;
    width: 25%;
    position: relative;
}

@media (max-width: 997px) {
    .gallery-item {
        width: 50%;
    }
}

@media (max-width: 640px) {
    .gallery-item {
        width: 100%;
    }
}

.gallery-item-description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 997px) {
    .gallery-item-description {
        z-index: 3;  
        right: auto;
        bottom: auto;
        padding: 10px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    }
}

.gallery-item-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #f5f5f5;
    margin-bottom: 5px;
}

@media (max-width: 997px) {
    .gallery-item-title {
        margin-bottom: 0; 
    }
}

.gallery-item-text {
    margin: 0;
    color: #f5f5f5;
}

.gallery-item-description-icon {
    width: 30px;
    margin-bottom: 15px;
}

@media (max-width: 997px) {
    .gallery-item-description-icon {
        display: none;
    }
}

.gallery-item-img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 640px) {
    .gallery-item-img {
        margin: 0 auto;
    }
}

.section-comment-avatar {
    display: block;
    width: 200px;
    margin-left: 45px;
}

.gallery-item:hover::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(#f38181, #fce38a);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

@media (max-width: 997px) {
    .gallery-item::after {
        display: none;
    }
}

.gallery-item:hover .gallery-item-description {
    z-index: 3;    
}

/* ---- Comment-gallery ---- */

.comment-gallery {
    margin-bottom: 130px;
}

@media (max-width: 640px) {
    .comment-gallery {
        margin-bottom: 65px;
    }
}

.section-comment-foto {
    width: 210px;
    margin-left: 40px;
}

@media (max-width: 997px) {
    .section-comment-foto {
        width: 150px;
    }
}

@media (max-width: 640px) {
    .section-comment-foto {
        width: 100px;
        margin-left: 0px;
    }
}

/* ---- Blog-feedback ---- */

.blog-feedback {
    background-image: url('/img/What_people_say_back.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    min-height: 825px;
    padding-top: 110px;
    margin-bottom: 120px;
}

.blog-feedback-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 80px;
    width: 100%;
    list-style: none;
}

.blog-feedback-item {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

@media (max-width: 997px) {
    .blog-feedback-item {
        width: 100%;
    }
}

.blog-feedback-card {
    display: flex;
    padding: 35px;
}

@media (max-width: 640px) {
    .blog-feedback-card {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.blog-feedback-img {
    width: 110px;
    height: 110px;
    display: block;
    margin-left: 35px;
    margin-right: 25px;
    border-radius: 50%;
}

.blog-feedback-card-content {
    padding-top: 5px;
}

@media (max-width: 640px) {
    .blog-feedback-card-content {
        text-align: center;
    }
}

.blog-feedback-card-title {
    margin: 0;
    font-family: "montserrat";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    color: #333333;
    margin-bottom: 15px;
}

.blog-feedback-card-subtitle {
    margin: 0;
    text-transform: capitalize;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 20px;
}

.blog-feedback-card-subtitle::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    color: #f38181;
    margin-bottom: 25px;
}

@media (max-width: 640px) {
    .blog-feedback-card-subtitle::after {
        margin: 0 auto;
    }
}

.blog-feedback-card-text {
    margin: 0;
}

/* ---- Blog-stories ---- */
.blog-stories {
    margin-bottom: 110px;
}

.blog-stories-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 -5px;
}

@media (max-width: 997px) {
    .blog-stories-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.blog-stories-item {
    width: 33.33%;
    position: relative;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 997px) {
    .blog-stories-item {
        margin-bottom: 100px;
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 640px) {
    .blog-stories-item {
        max-width: 420px;
    }
}

.blog-stories-item:nth-child(2) {
    /*margin-left: 30px;
    margin-right: 30px;*/
}

.blog-stories-list-link,
.blog-stories-footer-link,
.blog-stories-footer-link-1 {
    text-decoration: none;
}

.blog-stories-list-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.blog-stories-item-img {
    display: block;
    max-width: 100%;
}

.blog-stories-item-data {
    position: absolute;
    left: 5px;
    top: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    padding: 15px 10px;
    background-color: #95e1d3;
}

@media (min-width: 997px) and (max-width: 1200px) {
    .blog-stories-item-data {
        left: 0.4vw;
        top: 12vw;
        width: 5vw;
        height: 5.8vw;
    }
}

@media (max-width: 997px) {
    .blog-stories-item-data {
        left: 5px;
        top: 205px;
    }
}

@media (max-width: 640px) {
    .blog-stories-item-data {
        top: 155px;
    }
}

@media (max-width: 420px) {
    .blog-stories-item-data {
        left: 0.4vw;
        top: 36vw;
    }
}

.blog-stories-item-day {
    color: #ffffff;
    font-family: montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
}

.blog-stories-item-month {
    color: #ffffff;
    font-size: 15px;
    line-height: 1;
}

.blog-stories-item-title {
    margin: 20px 0;
    font-family: montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #333333;
    
}

@media (max-width: 997px) {
    .blog-stories-item-title {
        margin: 12px 0;
    }
}

.blog-stories-item-text {
    margin: 15px 0;
    color: #999999;
    font-size: 15px;
    line-height: 1.6;
    flex-grow: 1;
}

@media (max-width: 997px) {
    .blog-stories-item-text {
        margin: 10px 0;
    }
}

.blog-stories-list-link:hover > .blog-stories-item-text {
    color: #333333;
}

@media (max-width: 997px) {
    .blog-stories-list-link:hover > .blog-stories-item-text {
        color: #999999;
    }
}

.blog-stories-item-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

.blog-stories-list-link:hover ~ .blog-stories-item-footer {
    border-top: 1px solid #f38181;
}

@media (max-width: 997px) {
    .blog-stories-list-link:hover ~ .blog-stories-item-footer {
        border-top: 1px solid #e5e5e5;
    }
}

@media (max-width: 997px) {
    .blog-stories-item-footer {
        margin-top: 10px;
        padding-top: 10px;
    }
}

.blog-stories-footer-link {
    margin-right: 17px;
}

.blog-stories-footer-views,
.blog-stories-footer-comment {
    color: #999999;
    font-size: 15px;
    line-height: 1.6;
    font-style: italic;
    text-align: center;
}

.blog-stories-footer-comment,
.blog-stories-footer-views {
    position: relative;
    margin-left: 25px;
    display: block;
    width: 25px;
}

.blog-stories-footer-views::before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: -23px;
    width: 20px;
    height: 20px;
    background-image: url(/img/VIEW.png);
    background-repeat: no-repeat;
}

.blog-stories-footer-comment::before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: -15px;
    width: 20px;
    height: 20px;
    background-image: url(/img/SPEECH.png);
    background-repeat: no-repeat;
}

.blog-stories-footer-link:hover>span {
    color: #f38181;
}

@media (max-width: 997px) {
    .blog-stories-footer-link:hover>span {
        color: #999999;
    }
}

/* ---- Map ---- */

.map {
    margin-bottom: 110px;
}

.map-content {
    width: 100%;
    height: 300px;
}

[class*='ground-pane'] {
    filter: grayscale(100%) opacity(75%);
}

/* ---- Footer ---- */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ---- Footer social ---- */

.footer-social {
    display: flex;
    margin-bottom: 70px;
}

@media (max-width: 1200px) {
    .footer-social {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* ---- Footer subscription ---- */

.footer-subscription {
    width: 43%;
    padding-right: 30px;
    padding-left: 10px;
}

@media (max-width: 1200px) {
    .footer-subscription {
        width: 100%;
        max-width: 800px;
        padding: 0 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 640px) {
    .footer-subscription {
        padding: 0 15px;
    }
}

.footer-subscription-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Montserrat";
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    color: #cccccc;
}

@media (max-width: 640px) {
    .footer-subscription-title {
        font-size: 36px; 
    }
}

.footer-subscription-text {
    margin: 0;
    margin-bottom: 30px;
}

.footer-subscription-count {
    display: inline-block;
    font-size: 18px;
    font-family: "Montserrat";
    color: #333333;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-subscription-followers {
    display: inline-block;
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    font-weight: 400;
    margin-bottom: 16px;
}

.footer-social-icons {
    width: 100%;
    margin-bottom: 30px;
    user-select: none;
}

.footer-social-icons::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin-bottom: 15px;
}

.footer-social-link {
    margin-left: 8px;
    text-decoration: none;
    width: 16px;
    height: 16px;

}

.footer-social-icon {
    display: inline-block;
    fill: #95e1d3;
    width: 20px;
    height: 15px;
}

.footer-social-icon:hover {
    fill: #7fd3c3;
}

.footer-subscription-form {
    letter-spacing: -4px;
}

.footer-subscription-input {
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 10px;
    font-family: inherit;
    font-size: 15px;
    height: 37px;
    width: 228px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0;
}

@media (max-width: 640px) {
    .footer-subscription-input {
        max-width: 220px;
    }
}

.footer-subscription-input:focus-visible {
    outline: none;
    border: 2px solid #95e1d3;
}

.footer-subscription-button {
    display: inline-block;
    letter-spacing: 1px;
    width: 150px;
    height: 37px;
    color: #fff;
    background-color: #95e1d3;
    border: 1px solid #95e1d3;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    cursor: pointer;
}

@media (max-width: 640px) {
    .footer-subscription-button {
        width: 140px;
    }
}

.footer-subscription-button:hover {
    color: #fff;
    background-color: #7fd3c3;
}

/* ---- Footer blogs ---- */

.footer-blogs {
    width: 34%;
    padding-right: 65px;
}

@media (max-width: 1200px) {
    .footer-blogs {
        min-width: 380px; 
        flex-grow: 1;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .footer-blogs {
        width: 100%; 
        padding: 0 15px;
        margin-bottom: 50px;
    }
}

.footer-blogs-title {
    margin: 0;
    margin-bottom: 40px;
    font-family: "montserrat";
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    color: #333333;
}

.footer-blogs-cards {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-blogs-card:not(:last-child) {
    margin-bottom: 30px;
}

.footer-blogs-card-link {
    display: flex;
    text-decoration: none;
}

.footer-blogs-card-link:hover .footer-blogs-card-text {
    text-decoration: underline;
}

.footer-blogs-card {
    display: flex;
    height: 80px;
}

.footer-blogs-card-img {
    display: block;
}

.footer-blogs-card-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    align-items: flex-end;
}

.footer-blogs-card-text {
    margin: 0;
    font-family: "montserrat";
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.5;
    color: #000000;
}

.footer-blogs-card-time {
    margin-top: 15px;
    font-family: roboto;
    font-style: italic;
    color: #999999;
}

/* ---- Footer insta ---- */

.footer-insta {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
}

@media (max-width: 1200px) {
    .footer-insta {
        width: 297px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .footer-insta {
        
        margin: 0 auto;
    }
}

.footer-insta-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .footer-insta-list {
        max-width: 276px;
        max-height: 270px;
    } 
}

.footer-insta-item {
    margin: 0;
    padding: 0;
    display: block;
    width: calc(33% - 2px);
    margin-right: 2px;
    margin-bottom: 2px;
}

.footer-insta-link {
    display: block;
}

.footer-insta-img {
    display: block;
    width: 88px;
    height: 88px;
    object-fit: cover;
    object-position: 50% 50%;
}

.footer-insta-link-more {
    text-decoration: none;
    font-size: 13px;
    line-height: 1.8;
    color: #a1a1a1;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
}

.footer-insta-link-more:hover {
    color: #333333;
}

/* ---- Footer bottom ---- */

.footer-bottom {
    height: 60px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 25px 0;
    text-align: center;
}

.footer-bottom-text {
    color: #333333;
    font-size: 14px;
}

.footer-bottom-author {
    color: #f49f9f;
    font-size: 14px;
}